/.venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.venv/
.pytest_cache/
.pyre/

# SQLite
*.sqlite
*.db

# Node
node_modules/
.next/
/dist/

# Docker
**/storage/*
**/backend/data/*

# env files
.env
.env.local
.env.*.local

# macOS
.DS_Store
